html {
    font-size: 40px;
}

body {
    margin: 0;
    font-family: 'Montserrat Alternates', 'Arial', 'Helvetica Neue', sans-serif;
}

@media (max-width: 416px) {
    .container {
        width: 100%;
        padding: 10px;
    }

    .head {
        display: grid;
        width: 100%;
        grid-template-rows: 2fr 1fr;
        gap: 5px;

        &__input {
            width: 320px;
        }
    }


    .btn {
        display: grid;
        grid-template-columns: .5fr 1fr 1fr .5fr;
        gap: 5px;
        height: 30px;

        button {
            height: 50px;
        }
    }

    .randomFilm {
        max-width: 315px;
        margin: 0 auto;
    }

    .film {
        width: 315px;
        font-size: 1.2rem;
        overflow-wrap: break-word;
    }

    .list__item {
        font-size: 0.3rem;
    }
}

.container {
    width: 50%;
    margin: 40px auto;
    padding: 30px;
}

.head {
    display: flex;
    justify-content: space-around;
}

.btn > button {
    transition: all .3s ease-in-out;
    font-family: 'Montserrat Alternates', 'Arial', 'Helvetica Neue', sans-serif;
    border: 1px solid rgb(255, 145, 2);
    background: rgb(255, 145, 2);
    color: #fff;
    height: 100%;
}

.btn > button:hover {
    border: 1px solid rgb(204, 211, 104);
    background: rgb(204, 211, 104);
    color: #000;
}

.head__input {
    transition: all .3s ease-in-out;
    outline: none;
    height: 40px;
    width: 200px;
    border: 1px solid rgb(255, 145, 2);
}

.head__delete:hover {
    border: 1px solid rgb(204, 211, 104);
    background: rgb(204, 211, 104);
}

.film {
    font-weight: 600;
    font-size: 50px;
    text-align: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
}

.list__item {
    width: 33%;
    font-size: .5rem;
}

.icon-trash {
    color: black;
}

.searchedFilm {
    background: rgb(226, 223, 15);
}

